<h1 mat-dialog-title [innerHTML] = "param && param.title ? param.title : ''"></h1>
<div mat-dialog-content>
    <div [innerHTML] = "param && param.message ? param.message : ''"></div>
</div>
<div mat-dialog-actions align = "end">
    <button mat-button [mat-dialog-close] = "">OK</button>
</div>
