<h1 mat-dialog-title>Please Wait...</h1>
<div mat-dialog-content style = "height: 130px">
    <mat-spinner></mat-spinner>
</div><!--<div mat-dialog-actions align = "end">
    <button mat-button (click) = "onNoClick()">{{param && param.btnNo ? param.btnNo : ''}}</button>
    <button mat-button (click) = "onYesClick()">{{param && param.btnYes ? param.btnYes : ''}}</button>
</div>-->
