/* You can add global styles to this file, and also import other style files */

html, body {
    height : 100%;
}

body {
    margin         : 0;
    font-family    : Roboto, "Helvetica Neue", sans-serif;

    display        : flex;
    min-height     : 100vh;
    flex-direction : column;
}

:host {
    font-family             : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size               : 14px;
    color                   : #333333;
    box-sizing              : border-box;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin : 8px 0;
}

p {
    margin : 0;
}

.spacer {
    flex : 1;
}

.toolbar {
    height           : 60px;
    display          : flex;
    align-items      : center;
    background-color : #FFFFFF;
    color            : #495057;
    font-weight      : 600;
    box-shadow       : 0 0 7px rgba(0, 0, 0, .1) !important;
}

.toolbar img {
    margin    : 0 16px;
    max-width : 120px;
}

.content {
    flex      : 1;
    margin    : 32px auto;
    padding   : 0 16px;
    max-width : 960px;
}

footer {
    margin-top  : 64px;
    flex-shrink : 0;
    padding     : 20px;
    line-height : 20px;
    background  : var(--dark);
    color       : white;
}

.alert-on-white {
    font-size : 14px;
    color     : var(--danger);
}


/* Responsive Styles */
@media screen and (max-width : 767px) {

    .card-container > *:not(.circle-link),
    .terminal {
        width : 100%;
    }
}
