.card-address {
    //box-shadow : 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow    : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom : 32px;

    .card-title {
        padding       : 7px 10px;
        font-size     : 12px;
        color         : white;
        font-weight   : bold;
        margin-bottom : 0;
    }

    .icon-left {
        height       : 100%;
        padding      : 20px 20px;
        text-align   : center;
        border-right : 1px solid #D5D5D5;

        .mat-icon {
            font-size : 60px;
            color     : #28A745;
            width     : 60px;
            height    : 60px;
        }

        .number-icon {
            font-size   : 60px;
            color       : cadetblue;
            width       : 60px;
            font-weight : bold;
        }
    }

    .icon-right {
        height      : 100%;
        text-align  : center;
        padding     : 20px 10px 0 10px;
        border-left : 1px solid #D5D5D5;

        .mat-icon {
            font-size : 40px;
            color     : cadetblue;
            width     : 40px;
            height    : 40px;
            display   : block;
            margin    : 0 auto;
        }

        .mat-icon:hover {
            cursor : pointer;
        }
    }

    .col-input {
        margin : 10px 0;
    }

    .col-address {
        margin  : 0;
        padding : 0;
    }

    .card-bottom-border {
        border-bottom : 1px solid #D5D5D5;
    }

    .submit-button {
        border-top    : 1px solid #D5D5D5;
        width         : 100%;
        font-size     : 20px;
        padding       : 10px;
        border-radius : 0;
    }

    .distance {
        font-weight   : bold;
        color         : #FFFFFF;
        background    : var(--info);
        padding       : 2px 8px 4px;
        font-size     : 13px;
        border-radius : 2px;
    }

    .travel-time {
        font-weight   : bold;
        color         : #FFFFFF;
        background    : var(--green);
        padding       : 2px 8px 4px;
        font-size     : 13px;
        border-radius : 2px;
    }

    .border-bottom {
        border-bottom : 1px solid #D5D5D5;
    }
}


