<div class = "content" role = "main">
    <!--START OF FORM-->
    <form [formGroup] = "form">

        <!--Section for Home/Starting Address-->
        <div class = "card-address">
            <!--CARD TITLE-->
            <div class = "card-title" style = "background: #28A745">
                Home/Starting Address
            </div>
            <div class = "row">
                <div class = "col-auto">
                    <div class = "icon-left">
                        <mat-icon aria-hidden = "false" aria-label = "icon">home</mat-icon>
                    </div>
                </div>
                <div class = "col col-input">
                    <!--HOME/STARTING ADDRESS INPUT-->
                    <div class = "form-group">
                        <label for = "address_home">Home Address</label>
                        <AutocompleteHomeComponent id = "address_home"
                                [(autocompleteHomeInput)] = "address_home"
                                (setAddressHome) = "autoCompleteAddress($event, 'address_home')"></AutocompleteHomeComponent>
                        <small class = "form-text text-muted">Enter your home address (this will be used as starting location)</small>
                    </div>
                    <div *ngIf = "formErrors['address_home']">
                        <div *ngFor = "let errors of formErrors['address_home']" class = "alert-on-white">
                            <div>{{ errors }}</div>
                        </div>
                    </div>
                </div>
                <div class = "col-auto">
                    <div class = "icon-right" (click) = "getCurrentLocation()">
                        <mat-icon aria-hidden = "false" aria-label = "icon">room</mat-icon>
                        <button mat-button color = "primary" matTooltip = "Detect Current Location">Detect</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Seciont for Destination Addresses Input Form-->
        <div #addressesView>
            <div class = "card-address" *ngIf = "form.value.address_home">
                <div class = "card-title" style = "background: #17a2b8">
                    Visiting Addresses
                </div>
                <!--SECTION VISITING ADDRESS 1-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">1</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <!--ADDRESS 1 INPUT-->
                        <div class = "form-group">
                            <label for = "address_visit_1">Visit Address 1</label>
                            <AutocompleteComponent id = "address_visit_1"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_1')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter first visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_1']">
                            <div *ngFor = "let errors of formErrors['address_visit_1']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 2-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">2</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_2">Visit Address 2</label>
                            <AutocompleteComponent id = "address_visit_2"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_2')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter second visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_2']">
                            <div *ngFor = "let errors of formErrors['address_visit_2']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 3-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">3</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_3">Visit Address 3</label>
                            <AutocompleteComponent id = "address_visit_3"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_3')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter third visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_3']">
                            <div *ngFor = "let errors of formErrors['address_visit_3']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 4-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">4</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_4">Visit Address 4</label>
                            <AutocompleteComponent id = "address_visit_4"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_4')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter fourth visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_4']">
                            <div *ngFor = "let errors of formErrors['address_visit_4']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 5-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">5</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_5">Visit Address 5</label>
                            <AutocompleteComponent id = "address_visit_5"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_5')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter fifth visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_5']">
                            <div *ngFor = "let errors of formErrors['address_visit_5']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 6-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">6</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_6">Visit Address 6</label>
                            <AutocompleteComponent id = "address_visit_6"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_6')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter sixth visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_6']">
                            <div *ngFor = "let errors of formErrors['address_visit_6']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>
                <!--SECTION VISITING ADDRESS 7-->
                <div class = "row">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <div class = "number-icon">7</div>
                        </div>
                    </div>
                    <div class = "col col-input">
                        <div class = "form-group">
                            <label for = "address_visit_7">Visit Address 7</label>
                            <AutocompleteComponent id = "address_visit_7"
                                    centerLat = "{{centerLat}}"
                                    centerLng = "{{centerLng}}"
                                    (setAddress) = "autoCompleteAddress($event, 'address_visit_7')"></AutocompleteComponent>
                            <small class = "form-text text-muted">Enter seventh visit address (type any location within 10-40km from the home/starting address)</small>
                        </div>
                        <div *ngIf = "formErrors['address_visit_7']">
                            <div *ngFor = "let errors of formErrors['address_visit_7']" class = "alert-on-white">
                                <div>{{ errors }}</div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div style = "width: 50px;"></div>
                    </div>
                </div>

                <!--FORM SUBMIT BUTTON-->
                <button type = "submit" class = "submit-button" mat-button (click) = "onSubmit()">Submit</button>
            </div>
        </div>

        <!--RESULT SECTION-->
        <div #resultView>
            <div class = "card-address" *ngIf = "data && data.length > 0">
                <!--SECTION HOME/STARTING LOCATION-->
                <div class = "card-title" style = "background: #28A745">
                    Home/Starting Location
                </div>
                <div class = "row" style = "">
                    <div class = "col-auto">
                        <div class = "icon-left">
                            <mat-icon aria-hidden = "false" aria-label = "icon">home</mat-icon>
                        </div>
                    </div>
                    <div class = "col col-address">
                        <div style = "margin: 20px 0; padding-left: 15px; padding-right: 15px">
                            <!--HOME/STARTING ADDRESS-->
                            <div>
                                {{form.value.address_home && form.value.address_home['formatted_address'] ? form.value.address_home['formatted_address'] : '-'}}
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div class = "icon-right" (click) = "viewMap('map', form.value.address_home)">
                            <mat-icon aria-hidden = "false" aria-label = "icon">map</mat-icon>
                            <button mat-button color = "primary" matTooltip = "View Map">View Map</button>
                        </div>
                    </div>
                </div>
                <!--SECTION DESTINATION LOCATIONs-->
                <div class = "card-title" style = "background: #17a2b8">
                    Visiting Addresses
                </div>
                <div class = "row" style = "" *ngFor = "let address of data; let i = index">
                    <div class = "col-auto">
                        <div class = "icon-left border-bottom">
                            <div class = "number-icon">{{i + 1}}</div>
                        </div>
                    </div>
                    <div class = "col col-address border-bottom">
                        <div style = "margin: 20px 0; padding-left: 15px; padding-right: 15px">
                            <div>
                                Address: {{address.destinationAddresses ? address.destinationAddresses : '-'}}
                            </div>
                            <div>
                                <div class = "row">
                                    <div class = "col-auto">
                                        Distance:
                                        <span class = "distance">{{address.rows[0].elements[0].distance.text}}</span>
                                    </div>
                                    <div class = "col-auto">
                                        Travel Time (With Traffic):
                                        <span class = "travel-time">{{address.rows[0].elements[0].duration_in_traffic.text}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class = "col-auto">
                        <div class = "icon-right border-bottom" (click) = "viewMap('navigation', address)">
                            <mat-icon aria-hidden = "false" aria-label = "icon">map</mat-icon>
                            <button mat-button color = "primary" matTooltip = "View Navigation">View Map</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!--END OF FORM-->
</div>
